{% extends "layout.html" %}

{% set pageId = "page-create-company" %}

{% block title %}
    <title>Cadastrar Empresa</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/create-company.css">
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{% block content %}
    {% include "partials/page-header.html" %}
    <form action="/savecompany" method="POST">

        <h1>Cadastro de Empresa</h1>

        <fieldset>
            <legend>
                <h2>Dados da Entidade</h2>
            </legend>

            <div class="field-group">
                <div class="field">
                    <label for="empresa">Nome da Empresa</label>
                    <input type="text" name="empresa" required="required">
                </div>

                <div class="field">
                    <label for="image">Imagem da Empresa</label>
                    <input type="url" name="image" placeholder="http://" required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="cnpj">CNPJ</label>
                    <input type="text" name="cnpj" required="required">
                </div>

                <div class="field">
                    <label for="responsible">Responsável</label>
                    <input type="text" name="responsible" required="required">
                </div>
            </div>
            
            <div class="field-group">
                <div class="field">
                    <label for="phone">Telefone</label>
                    <input type="text" name="phone" required="required">
                </div>

                <div class="field">
                    <label for="email">Email</label>
                    <input type="email" name="email" required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="address">Endereço</label>
                    <input type="text" name="address" required="required">
                </div>

                <div class="field">
                    <label for="address2">Número/Complemento</label>
                    <input type="text" name="address2" required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="state">Estado</label>
                    <select name="uf" required="required">
                        <option value="">Selecione o Estado</option>
                    </select>

                    <input type="hidden" name="state">
                </div>

                <div class="field">
                    <label for="city">Cidade</label>
                    <select name="city" disabled="disabled" required="required">
                        <option value="">Selecione a Cidade</option>
                    </select>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                <h2>Ramos de Atuação</h2>
                <span id="segSpan">Selecione os ramos relacionados</span>
            </legend>

            <div class="items-grid">
                <li data-id="industrial">
                    <img src="/assets/industrial.png" alt="industrial">
                    <span>Industrial</span>
                </li>

                <li data-id="comercial">
                    <img src="/assets/comercial.png" alt="comercial">
                    <span>Comercial</span>
                </li>

                <li data-id="prestacaoServicos">
                    <img src="/assets/prestacaoServicos.png" alt="prestacaoServicos">
                    <span>Prestação de Serviços</span>
                </li>

            </div>

            <input type="hidden" name="items">
        </fieldset>

        <button type="submit">Cadastrar Empresa</button>

    </form>

{% endblock content %}

{% block modal %}
    {% if saved %}
        {% include "partials/company-created.html" %}
    {% endif %}
{% endblock modal %}

{% block scripts %}
    <script src="/scripts/create-company.js"></script>
{% endblock scripts %}