@media (max-width: 1000px) { 
    #page-home {
        background-position-x: 70vw;
        background-image: none;
    }
    #page-home .content {
        align-items: center;
        text-align: center;
    }
    #page-home header a {
        position: fixed;
        bottom: 25px;

        left: 50%;
        transform: translateX(-50%);
    }
    #page-home main {
        align-items: center;
    }
    #page-home main a {
        width: 250px;
    }

    #page-create-company .field-group {
        flex-direction: column;
    }
    #page-create-company .field-group .field + .field {
        margin-left: 0;
    }
}

@media (max-width: 670px) {
    #page-create-company .items-grid {
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        margin-left: 0;
    }
}

@media (max-width: 335px) {
    #page-home header a span {
        display: none;
    }
}

@media (min-width: 1700px) {
    #page-home {
        background-position-x: 50vw;
    }
}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 200px;
    }
}

@media (max-width: 445px) {
    #page-create-company form {
        padding: 30px;
    }

    #page-create-company .items-grid li {
        width: 120px;
        height: 90px;

        margin: 0;
        
        padding: 7px;
    }
    #page-create-company .items-grid li img {
        width: 60px;
        height: 45px;
    }
    #page-create-company fieldset legend #segSpan {
        text-align:end;
    }
    
}